@model PS2.Models.Order

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<img src="~/Content/img/coffeeord.jpg" alt="" class="section-title" style="width: 100%; height: 600px;" />

<div class="row justify-content-center">
    <p>
        <h2>Ordenar</h2>
    </p>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label class="control-label col-md-2">Producto</label>
            <div class="col-md-10">
                <select name="MenuId" class="form-control">
                    <option selected disabled>Elige un producto</option>
                    @foreach (var item in ViewBag.MenuId)
                    {
                        <option value="@item.id">@item.Name — $@item.Price</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ordenar" class="btn btn-default" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Cancelar", "Index")
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
